SERVER_PORT=3001
STORAGE_DIR=/app/server/storage
LLM_PROVIDER=ollama
OLLAMA_BASE_PATH=http://host.docker.internal:11434
OLLAMA_MODEL_PREF=qwen3.5:4b
OLLAMA_MODEL_TOKEN_LIMIT=8192
EMBEDDING_ENGINE=ollama
EMBEDDING_BASE_PATH=http://host.docker.internal:11434
EMBEDDING_MODEL_PREF=bge-m3:567m
EMBEDDING_MODEL_MAX_CHUNK_LENGTH=1000
VECTOR_DB=lancedb
DISABLE_TELEMETRY=true
